﻿.main-slider .item img{
	height:485px !important; 
}
.main-slider{
	margin-top:15px;
	margin-bottom:15px;
}
body{
	/* background: url(/style/img/dibao/bg-body.png); */
	min-width:1000px;
}
.headernew h3{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	font-size:16px;
	text-transform:uppercase;
	font-weight: bold;
	color: #ff0601;
}
.left img{
	width:100%;max-height:250px;
}
img{
	max-width:100%;
	height: auto;
}

.comment .img img {
  width: 60px;
}.postcommentform .text, .postreplyform .text {
  width: 99%;
  height: 40px;
  min-height: 40px;
}.form .text {
  border: 1px solid #e2e2e2;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}.formErrorContent {
  width: 100%;
  background: #393939;
  position: relative;
  color: #fff;
  min-width: 120px;
  font-size: 11px;
  padding: 8px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  top: -59px;
  left: -44px;
  display: none;
}
#ShopCommentForm .img{
	float:left;
}
#submit{
	float:right;
	/* padding-top:10px; */
	margin-bottom: 10px;
	margin-top: 10px;
}
.comment .info {
  line-height: 20px;
  font-size: 12px;
}
.comment-template .info {
  margin-bottom: 5px;
}
.comment .info {
  /* margin-left: 50px; */
  font-size: 14px;
}.list-comment .comment-item .content .comment-details {
  font: normal 14px Arial,Helvetica,sans-serif;
  line-height: 1.4;
  margin-bottom: 6px;text-transform:none;
}
.list-comment {
  display: inline-block;
  clear: both;
  width: 100%;
}.list-comment .header {
  border-bottom: 1px solid #eee;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  background: #FFFEFE !important;
}
.list-comment .comment-item {
  display: inline-block;
  clear: both;
  width: 100%;
  /* padding: 10px 0; */
  /* margin-bottom: 10px; */
}.list-comment .comment-item .avatar {
  display: inline-block;
  float: left;
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 10px;
}.list-comment .comment-item .content {
  width: 694px;
  float: left;
  clear: none;
  border-top: none;
  /* padding-right: 10px; */
  margin: 5px;
}.list-comment .comment-item p.intro {
  margin-bottom: 2px;
  font-size: 12px;
  text-transform:none;
}.list-comment .comment-item .content .comment-details {
  font: normal 14px Arial,Helvetica,sans-serif;
  line-height: 1.4;
  margin-bottom: 6px;
  font-size: 13px;
  text-transform:none;
}.list-comment .header .left {
  display: inline-block;
  padding: 10px 20px;
  background: #ff961f;
  border: 1px solid #ef7933;
  margin-bottom: -1px;
  font: normal 15px Arial,Helvetica,sans-serif;
  white-space: nowrap;
}.list-comment .header .right {
  display: inline-block;
  float: right;
  padding-top: 24px;
}.list-comment .comment-item p.tools a i, .list-comment .comment-item p.tools a span {
  margin-right: 5px;
  font-size: 13px;
  color: #1687C5;
}.list-comment .comment-item p.tools a {
  margin-right: 10px;
  text-transform: none;
}

.chungnhan{
	padding-top:8px;
}
#list-videos .videohome{
	float:left;
	width: 75px;
	margin-right: 4px;
	border:1px solid #ddd;
	height: 49px;
}
*{
	margin:0px;
	padding:0px;
}
p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 23px;
}
li{
	list-style:none;
}
.first{
	position:relative;
}
.main-main{
	background:#ddd;
	line-height:32px
}
h1, .h1, h2, .h2, h3, .h3{
	margin:0px;.toplefttitle h1 {
    float: left;
    padding: 8px 0;
    font-size: 24px;
    font-weight: 300;
}

}
.col-des{
	position:absolute;top:173px;padding:10px;background:#ddd;opacity:0.8;
}
.bg-news{
	border-top:1px solid #ddd;
}
.notfirst a{
	color: #000 !important;
}.notfirst i{
	font-size:10px;
}

.stamp{
	padding-top:15px;
	
}
.logo img{
	margin-top: 20px;
}
h1,h2,h3{
	
font-size: 22px;
}
content-descr p{
	line-height:20px;
}
.content-descr,.content-special{padding:0;}
.content-descr table tr{padding-top:10px}
.content-descr table tr:first-child,.content-descr table tr:first-child td{padding-top:0!important}
.content-descr td{width:50%;padding:0 10px;text-align:justify;vertical-align:top}
.content-descr td img{display:block;/* max-width:284pxmax-height: 226px; */margin:0 auto!important;vertical-align:top;width: 100%;}
.content-special table{display:table;border-collapse:collapse;border-spacing:0}
.content-special table tr th{background-color:#F7F7F7;color:#cb0000;border-bottom:1px solid #ccc;font-size:14px;padding:5px;text-align:left;text-transform:uppercase;font-weight:400;font-size: 20px;padding: 14px;}
.content-special table tr td{padding:5px;border-bottom:1px dotted #CCC;text-align:left;vertical-align:top}
.content-special table td.spec-title{color:#000}
.content-special a{color:#3498db}
.content-special a:hover{color:#36a2ea}
.main-da{
	float:left;
	-webkit-box-shadow: 0px -1px 4px 0px #e0e0e0;
	-moz-box-shadow: 0px -1px 4px 0px #e0e0e0;
	box-shadow: 0px 2px 14px #e0e0e0;
	width: 100%;
	/* padding-bottom: 20px; */
	margin-bottom: 20px;
}.chungnhan img {
    max-width: 60px;
    border-radius: 9px;
    padding: 3px;
}
.nopadding{
	padding:0px;
}
.bg-main-da{
	width:100%;
	float:left;
	
}
.hottline-b {
    float: right;
    width: 237px;
    height: 89px;
    background: url(../style/img/iconhotline.png) no-repeat 0px 8px;
    padding-left: 69px;
    /* background-size: 28%; */
    padding-top: 15px;
    text-align: right;
    background-size: 77px;
}
.slidermain img{
	max-height: 500px;
}
.hottline-b span {
    color: #FF0000;
    font-size: 18px;
    font-weight: bold;
    transition: 0.4s;
    margin-bottom: 4px;
    float: left;
    width: 100%;
    text-align: center;
}
.hottline-b b {
    float: left;
    clear: both;
    color: #797979;
    text-align: center;
    width: 100%;
    font-size: 12px;
}
.hottline-b p {
    float: left;
    width: 140px;
    height: 40px;
    margin-top: 30px;
}
.bg-head{
	/* padding-top:10px; */
	/* padding-bottom: 8px; */
	background: #ff0000;
}


.img-logo h2{
	font-size: 15px;
	text-transform:uppercase;
	font-weight:bold;
	padding-top: 10px;
	line-height: 24px;
}
.product-home .item ul li {
    width: 22px;
    height: 22px;
    float: left;
}
.btn-buynow {
    font-family: Roboto Condensed Regular;
    font-size: 17px;
    color: #fff;
    background: #F15A24;
    display: block;
    border-radius: 5px;
    text-align: center;
    width: 110px;
    padding: 8px 0;
    margin-top: 10px;
}





.list-color{
	float:left;width:100%;
}
.list-color li{
    width: 22px;
    height: 22px;
    float: left;
}
.bg-main .container {
    width: auto;
    max-width: 1920px;
}
.product-home .container > .row > .item {
    border-right: 1px solid #d2d2d2;
    height: 280px;
}
#footer a{
	color:#fff;
}
#footer {
    background-image: -ms-linear-gradient(bottom, #0C0C0C 0%, #232323 100%);
    background-image: -moz-linear-gradient(bottom, #0C0C0C 0%, #232323 100%);
    background-image: -o-linear-gradient(bottom, #0C0C0C 0%, #232323 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0C0C0C), color-stop(1, #232323));
    background-image: -webkit-linear-gradient(bottom, #0C0C0C 0%, #232323 100%);
    background-image: linear-gradient(to top, #0C0C0C 0%, #232323 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232323', endColorstr='#0c0c0c', GradientType=0 );
    border-top: 1px solid #2e2e2e;
    /* padding-top: 30px; */
    color: #888;
    line-height: 1.7em;
    /* margin-top: 100px; */
    clear: both;
    float: left;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 18px;
}
.mt30 {
    /* margin-top: 30px; */
}
.camket_top {
    float: left;
    margin-top: 24px;
}


.main-img img{
	
}

.camketitem {
    width: 235px;
    float: left;
    height: 38px;
}.camketitem span {
    height: 38px;
    width: 38px;
    float: left;
    margin-right: 10px;
    transition: 0.3s;
}.camketitem p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    font-family: Tahoma,Arial;
    transition: 0.3s;
    width: 180px;
}.camket2 {
    background: url(../style/img/camket2.png) no-repeat;
}.camketitem:hover span {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: 0.3s;
}.camket3 {
    background: url(../style/img/camket3.png) no-repeat;
}
.bg-menu{
	width:100%;
	height: 60px;
	background: #3e3c38;
	/* margin-bottom: 20px; */
	/* margin-top: 10px; */
	z-index:99;
	padding-top: 17px;
	border-bottom: 2px solid #6F6B6B;
}
.owl-item img{
	width:100%;
	/* max-height:400px; */
}

.itemmain1{
	border-top:1px solid #ddd;
	border-right:1px solid #ddd;
	padding-bottom: 10px;
}
.itemmain{
	border-right:1px solid #ddd;
	padding-bottom: 10px;
}
.v2-ul-glb-menu li a{
	color: #fbfbfb;
	/* font-weight: bold; */
	font-size: 16px;
}

.main-more{
	background:#ddd;
	padding-top:20px;
	padding-bottom:20px;
}

.v2-ul-glb-menu li {
    float: left;
    padding: 0 12.5px;
}
.v2-ul-glb-menu {
    float: left;
    width: 100%;
    padding-top: 20px;
}
.v2-ul-glb-menu {
    float: left;
    width: 100%;
    padding-top: 0px;
}
.bg-footer{
	float:left;width:100%;
}
.slider-footer{
	background: #ffffff;
	float: left;
	width: 100%;
	padding-top: 17px;
	padding-bottom: 10px;
}
.imgslider img{
	/* border:1px solid #ddd; */
}
.imgslider{
	/* min-height:900px; */
	/* padding-top: 76px; */
}
.infoslider{
	/* min-height:900px; */
	/* border:1px solid #ddd; */
}
.ctn_row1 {/* width: 100%; */float: left;padding-top: 5px;margin-bottom: 20px;}
.ctn_row1 .div-left { width: 66%; float: left; }
.ctn_row1 .div-right {/* width: 34%; */float: left;/* margin-top: 30px; */padding-left: 4%;}
.ctn_row1 .div-right .div-title { /*width: 100%;*/ float: left; }
.ctn_row1 .div-right .title-sp-row1 {float: left;width: 100%;font-family: Iciel Panton Light;font-size: 25px;color: #0688F2;border-bottom: 2px solid #000;line-height: 35px;}
.ctn_row1 .div-right .p-gia { color: #d01219; font-size: 30px; font-family: UTM Swiss Black Condensed; width: 100%; float: left; }
.ctn_row1 .div-right .p-quatang { background: url("/Assets/images/quatang.png") no-repeat; font-size: 14px; color: #000; font-style: italic; width: 100%; float: left; padding-left: 20px; margin-top: 8px; }
.ctn_row1 .div-right .p-quatang span { font-family: Roboto Bold; font-size: 18px; color: #000; }
.ctn_row1 .div-right .p-quatang .span1 { font-size: 14px; font-family: Roboto Bold; font-size: 14px; }
.ctn_row1 .div-right .div-mausac { width: 100%; float: left; margin-top: 28px; }
.ctn_row1 .div-right .fix-p { background: none; padding-left: 20px; margin-bottom: 15px; }
.ctn_row1 .div-right .div-mausac .p-mausac { float: left; font-family: Roboto Condensed Regular; font-size: 16px; color: #000; margin-right: 5px; }
.ctn_row1 .div-right .ul-mausac { float: left; margin-left: 10px; }
.ctn_row1 .div-right .ul-mausac .li-mausac { float: left; margin-right: 6px;}
.ctn_row1 .div-right .p-text { width: 100%; float: left; font-size: 16px; color: #000; line-height: 25px; font-family: Roboto Condensed Regular; margin-top: 5px; }
.ctn_row1 .div-right .div-daily-row1 { width: 100%; float: left; margin: 20px 0px 10px; }
.ctn_row1 .div-right .p-call-row1 { color: #000; width: 100%; float: left; font-size: 27px; background: url("/Assets/images/sanpham/top-phone.png") no-repeat; height: 31px; line-height: 31px; padding-left: 40px; font-family: Roboto Condensed Regular; margin-top: 6px;}
.ctn_row1 .div-right .more-detail { margin-top: 13px; cursor: pointer; float: left;}

.ctn_row1 .div-right .ul-mausac .li-mausac { width: 24px; height: 24px; float: left; margin-right: 8px; }

.ctn_row1 .slide-content img { display: block!important; }
.slide-viewport .responsive-slider .slides ul li img.img-bg { display: initial; opacity: 1; max-width: 100%; max-height: 501px;}
.div-left .slide-wrap { width: 100%; float: left; padding-left: 30px; padding-right: 30px; }
.div-left .wp-next { width: 100%; float: left; position: relative; }
.ctn_row1 .slide-viewport .responsive-slider ul li .slide-content { height: 480px!important; width: 100%; float: left; text-align: center;}
.ctn_row1 .slide-viewport .responsive-slider ul li .slide-content img { float: none; display: initial!important;}
.ctn_row1 .slide-viewport .responsive-slider ul li .slide-body { height: 480px!important;}
.ctn_row1 .slide-viewport .responsive-slider .slides { height: 480px!important;}
.ctn_row1 .slide-viewport { height: 480px!important;}

.bg-daily{
	/* padding-top:20px; */
	padding-bottom: 5px;
	background: url(../style/img/bg-map.jpg) no-repeat center top;
	/* margin-top: 20px; */
	float: left;
	width: 100%;
}
.dailymain{
	height: 263px;
	overflow:auto;
}
.daily{
	height:2000px;
}
.daily ul{
	float:left;width:33%;
}
.daily ul li{
	float: left;
    background: url(http://hkbike.com.vn/images/map.phone.png) left top no-repeat /*top 8px left 0px*/;
    min-height: 31px;
    padding: 0px 10px 20px 35px;
}
p span.address {
    float: left;
    font-weight: bold;
    color: #000;
    font-size: 13px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background: #EF8E6B !important;
}

#footer h2{
	color:#ffd;
}

#owl-demo2 img{
	padding:10px;
	margin:5px;
	float:left;
	/* border:1px solid #ddd; */
	min-height: 191px;
}
#owl-demo2 .owl-item h2{
	font-size:17px;
	padding-bottom:0px;
	padding-left: 15px;
	color: #fff;
}
#owl-demo2 img{
	padding-top:0px;
	margin-top:0px;
}
.index-region-top div {
}
div.rg02 {
    padding-left: 30px;
}
.index-region-top div {
    /* width: 308px; */
    /* float: left; */
    height: 46px;
    line-height: 46px;
    /* text-align: left; */
    padding-left: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #64c44b;
    display: block;
}
.index-region-top div span {
    width: 112px;
    height: 37px;
    background: #F15A24;
    /* float: left; */
    line-height: 37px;
    text-align: center;
    font-family: Roboto Condensed Light;
    font-size: 17px;
    color: #ffffff;
    padding: 9px;
    border-radius: 0px 0px 5px 5px;
}

#owl-demo .owl-controls .owl-buttons{
	/* position:absolute; */
	/* top:50%; */
	width: 55%;
	margin:0 auto;
}
.owl-controls{
	position:absolute;
	top: 32%;
	width:100%;
}
.owl-prev{
	float:right;
}.owl-next{
	float:left;
}
.owl-buttons i{
	font-size:59px !important;
	color: #F1520F;
}
.owl-theme .owl-controls .owl-buttons div{
	background:none !important;
}
#home-show i{
	font-size: 17px;
	color: #F1510F;
}
.item .price {
    /* font-family: Roboto Condensed Bold; */
    font-size: 19px;
    color: #E26565;
    font-weight: bold;
}
.more img{
	width:100%;
}
.chungnhan img{
	width:80px;
}
.chungnhanp{
	padding-top:30px;
	font-size: 17px;
	color: #fff;
	text-align: right;
}
.main-main{
	float:left;
	width:100%;
	background:#fff;
}
.newslist{float:left;width:100%;}
.newslist li .shortdes *{line-height:30px!important;font-size:16px!important;}.newslist li a:visited h3{color:#5D5B5B;}
.linktgdd{display:block;overflow:hidden;position:relative;}.linktgdd h4{float:left;font-size:18px;color:#4d4d4d;line-height:1.3em;padding:8px 0;border-bottom:4px solid #fcc700;}.linktgdd a{float:left;width:50%;margin:-1px 0 20px;border-top:1px solid #e5e5e5;text-align:center;}.linktgdd a h3{display:block;line-height:1.3em;font-size:15px;color:#4d4d4d;padding:16px 0 10px 0;text-align:center;}.iconnews-face{background-position:-76px -30px;width:80px;height:80px;display:block;margin:10px auto;}
.newslist{display:block;overflow:hidden;position:relative;width:100%;}.newslist li a img{float:left;width:388px;height:228px;margin:10px 20px 10px 0;background:url(/style/img/bg-p.png) no-repeat center center;}.newslist li .shortdes{max-height:175px;overflow:hidden;text-align:justify;display:block;margin-bottom:10px;padding-top:2px;}.newslist li a.img{float:left;overflow:hidden;position:relative;padding:0 0 10px;}.clr{clear:both;}.newslist li a strong{font-size:14px;color:#c2c2c2;font-weight:300;float:right;}.newslist li a{overflow:hidden;position:relative;padding:0 0 10px;}.newslist li{display:block;overflow:visible;position:relative;border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:20px;}
.detail-tags .product-ref{background:none;text-decoration:underline;font-weight:bold;margin:0 0 5px 5px;padding:0;}
.detail-tags a{display:inline-block;margin:5px 5px 0 5px;background:#ececec;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;padding:5px 10px;color:#333;}.detail-tags{margin-top:25px;color:#999;}
.hotweek li a h3{display:block;font-size:16px;color:#4d4d4d;line-height:24px;}.hotweek li:first-child a strong, .hotweek li:first-child+li a strong, .hotweek li:first-child+li+li a strong{background:#D40000;border:1px solid #D40000;color:#fff;}
.hotweek li a{display:block;overflow:hidden;padding:10px 0;border-bottom:1px solid #f1f1f1;}
.hotweek li{display:block;overflow:hidden;}
.hotweek ul{display:block;overflow:hidden;clear:both;margin:-1px 0 20px;border-top:1px solid #e5e5e5;}
.hotweek h4{float:left;font-size:18px;color:#4a90e2;line-height:1.3em;padding:8px 0;border-bottom:3px solid #E00000;}
.hotweek li a strong{float:left;width:30px;height:32px;padding:7px 0 5px;background:#f6f6f6;border:1px solid #e8e8e8;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;font-size:16px;font-weight:700;font-style:italic;text-align:center;color:#251C1C;margin:3px 8px 8px 0;}
.pagging a.actpage{background:#d2d2d2;color:#000;border:1px solid #d2d2d2;}
.pagging a{float:left;padding:8px 14px;background:#fff;border:1px solid #b0b0b0;text-align:center;font-size:14px;color:#666;margin-right:12px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.hotweek li a span{display:inline-flex;font-size:12px;color:#999;}
.detail_news{float:left;width:100%;line-height:22px;color:#596067;font-family:Arial,sans-serif;font-size:13px !important;}
.askhighlight li a img {
    float: left;
    width: 100px;
    height: 60px;
    margin: 3px 10px 10px 0;
}.askhighlight li a {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}.right_hot_news li {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}
.askhighlight li {
    display: block;
    overflow: hidden;
}.title_hot_news {
    font-weight: bold;
    width: 100%;
}.askhighlight li a h3 {
    display: block;
    font-size: 17px;
    color: #4d4d4d;
    line-height: 1.3em;
}.askhighlight li a span {
    display: inline-flex;
    font-size: 12px;
    color: #999;
}
.askhighlight h4 {
    float: left;
    font-size: 18px;
    color: #4a90e2;
    line-height: 1.3em;
    padding: 8px 0;
    border-bottom: 3px solid #fcc700;
}
.toplefttitle .tagtop {
    float: right;
    padding: 8px 0;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 14px;
}
.toplefttitle h1 {
    float: left;
    padding: 8px 0;
    font-size: 24px;
    font-weight: 300;
}
.toplefttitle {
    display: block;
    position: relative;
    border-bottom: 1px solid #ccc;
    height: 42px;
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.toplefttitle .tagtop span {
    float: left;
    font-size: 14px;
    color: #999;
    margin-right: 10px;
    white-space: nowrap;
}
.title-block {
    line-height: 35px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 20px;
}
.tt_module {
    margin-top: 0px;
    float: left;
    width: 100%;
    margin-bottom: 0px;
}
.homeproduct li {
    float: left;
    position: relative;
    width: 32.33%;
    height: 333px;
    margin: 0 0 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 6px;
    background: #FFF;
    margin-right: 1%;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .bg-main { min-width: 1010px;}
	
}
.main-contents h2{
	padding-bottom:20px;
	padding-left:10px;
	border-bottom: 1px solid #F1F1F1;
	margin-bottom: 12px;
}
.main-contents{
	float:left;width:100%;padding-top:50px;
}
.parametdesc{}.parametdesc li{line-height:25px;}
.parametdesc li{display:table;padding:0px;width:100%;background:#fff;font-size: 14px;border-bottom:1px solid #e7e7e7;overflow:hidden;padding: 7px;background: #fff4f4;}.parametdesc li span{display:table-cell;width:44%;vertical-align:middle;color:#888;padding-left:0px;line-height:17px;}
#boxspecification{float:left;width:100%;/* padding-top:35px; */}
.parametdesc li strong{display:table-cell;width:70%;font-weight:normal;vertical-align:middle;color:#333;}
.parametdesc li strong a{color:#4a90e2;}
.parametdesc li button{display:block;padding:8px 0;text-align:center;background:#f5f5f5;border:1px solid #d2d2d2;color:#4a90e2;font-size:15px;width:100%;cursor:pointer;}
.parametdesc li:last-child{border-bottom:0;}
.facebox{
	padding-top:20px;
}
.pagging{
	float:right;
	padding-bottom:10px;
}
.online span{
	color:#fff;
}
a.name{
	font-size:17px;
}
.phantram {
    padding: 5px;
    border-radius: 4px;
    /* border: 1px solid #ddd; */
    color: #F4DC65;
    background: url(/style/img/icon-khuyenmai.png) no-repeat -1px 0px;
    height: 40px;
    width: 88px;
    padding-left: 21px;
    padding-top: 9px;
    position: absolute;
    bottom: 65px;
    right: -9px;
    z-index: 9999;
}
#owl-demo2 img {
    padding-top: 0px;
    margin-top: 0px;
}
#owl-demo2 img {
    padding: 10px;
    margin: 5px;
    float: left;
    /* border: 1px solid #ddd; */
    height: 200px;
}
#owl-demo2 .item a {
    color: #000000;
}
.go-top {
    width: 46px;
    height: 35px;
    position: fixed;
    z-index: 500;
    text-align: center;
    bottom: 66px;
    right: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    background: url("../style/img/ico_go_top.png") no-repeat -40px 7px #000;
    display: none;
    -webkit-transition: bottom 0.3s ease-out;
    -moz-transition: bottom 0.3s ease-out;
    -o-transition: bottom 0.3s ease-out;
    transition: bottom 0.3s ease-out;
}
.newslist{
	min-height:500px;
}

.showroom-wp img.arrow { position: absolute; top: 0; right: 0; z-index: 3000; }

.showroom-wp .map {min-height: 775px; min-width: 300px;background: url(../style/img/showroom-map-bg.png) center no-repeat;}

.showroom-wp .showroom { margin-top: 20px; margin-bottom: 60px; }

    .showroom-wp .showroom > .row {/* border-bottom: 1px dashed #1f8446; */ padding-bottom: 30px;float: left;/* width: 100%; */}

        .showroom-wp .showroom > .row.row-south { padding-bottom: 0; border-bottom: none; }

    .showroom-wp .showroom h2.region { height: 40px; line-height: 36px; padding-left: 2px; font-size: 18px;color: #BA9249; font-weight: bold; margin-bottom: 7px;}

        .showroom-wp .showroom h2.region .node { width: 25px; height: 34px; background: url(../images/node-set.png) left no-repeat; background-position: left 0px top 0px; background-position-x: 0px; background-position-y: 0px; float: left; margin-right: 5px; }

    .showroom-wp .showroom h2.central, .showroom-wp .showroom h2.south { margin-top: 30px; }

    .showroom-wp .showroom ul { padding-left: 3px; padding-right: 3px; }

        .showroom-wp .showroom ul li { height: 22px; line-height: 22px; background: url(../images/showroom/showroom-cycle-black.png) left no-repeat;margin-bottom: 16px;}

            .showroom-wp .showroom ul li * { font-size: 12px; }

            .showroom-wp .showroom ul li.active { }

                .showroom-wp .showroom ul li.active a { color: #1f8446; }

            .showroom-wp .showroom ul li span { width: 24px; height: 24px;background: #F3B296; background-position-x: -49px; background-position-y: 0px; text-align: center; float: left;color: #000000;}

            .showroom-wp .showroom ul li.active span { background: url(../images/node-set.png) no-repeat; background-position: left -26px top 0px; background-position-x: -26px; background-position-y: 0px; }

            .showroom-wp .showroom ul li a { padding-left: 10px; font-family: Roboto Regular!important; font-size: 14px; }

.showroom-wp h1.head a { background: url(../images/showroom/node-place2.png) left no-repeat; padding-left: 33px; float: left; line-height: 30px; padding-top: 20px; }

.showroom-wp .showroom ul li:hover > span { background-position: left -26px top 0px; background-position-x: -26px; background-position-y: 0px; }

.showroom-wp .showroom ul li:hover a { color: #1f8446; }

.tinh li span{
	
}
h2.mien{
	float:left;
	width:100%;
	height: 33px;
	color: #FF8300;
}
.row .div-showrom .p-showrom-hanoi {
    font-size: 20px;
    float: left;
    text-transform: uppercase;
    font-family: Roboto Regular;
    color: #000;
    margin-bottom: 10px;
}.showroom-detail h2.title a {
    font-size: 15px;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif !important;
    line-height: 40px;
}.showroom img {
    height: 143px;
    width: 178px;
}.showroom-detail .showroom p.bold {
    font-weight: bold;
    background: url(../images/showroom/node-sr-detail.png) no-repeat;
    background-position: left 0px top 7px;
    background-position-x: 0px;
    background-position-y: 7px;
}
.showroom-detail .showroom p {
    padding-right: 0;
    padding-left: 10px;
}
.showroom-detail .showroom p {
    line-height: 18px;
    margin-bottom: 5px;
    font-size: 13px;
    padding-right: 15px;
}.row .div-showrom {
    width: 100%;
    float: left;
    margin-top: 10px;
}
.showroom-detail h2.title a {
    font-size: 15px;
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif !important;
    line-height: 40px;
}
.showroom p{
	font-size:15px;
}
h2.title{
	margin:0px;
	padding:0px;
	padding-bottom: 5px;
}
.showroom{
	padding-bottom:20px;
}

.searchmenu{
	background: url(../style/img/bg-search.png) no-repeat center center !important;
	width: 291px;
	float: right !important;
}
.search-area .search-field {background: none;color: #948B8B;border: none;width: 200px;}.search-area .search-button {float: right;width: 34px;background: none;border: none;}
.search-area .search-button, #search-box .search-area .search-field {
    display: inline-block;
}
.search-area{
	padding: 2px;
}
.hotline li{
	width: 100%;
	float:left;
	color: white;
}
.hotline{
	float:right;
	color:#fff;
	font-weight:bold;
	font-size: 18px;
	line-height: 28px;
	padding-right: 20px;
}
.priceInfo .price{
	color:red;
	font-size: 18px;
	font-weight: bold;
}
#boxspecification h4{
	line-height:20px;
}
.control360 {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 100%;
    text-align: center;
}
.right {
    float: right;
}
.div360{
	position:relative;
}
/*** index news bottom ***/
.news-bottom {min-height: 205px;background: #303030;padding-top: 25px;float: left;width: 100%;}

    .news-bottom > .container > .row > div { float: left; }

    .news-bottom .head {font-weight: 400;width: 100%;float: left;font-size: 18px;font-family: Roboto Condensed Light;color: #167ac6;text-transform: uppercase;padding-bottom: 15px;}

    .news-bottom .about-us { width: 205px; margin-right: 30px; }

    .news-bottom .service { width: 205px; margin-right: 30px; }

    .news-bottom .find-showroom { width: 300px; margin-right: 30px; }

    .news-bottom .connect-fb {/* width: 210px; */}

    .news-bottom ul.list-news { width: 100%; float: left; }

        .news-bottom ul.list-news * { width: 100%; float: left; }

        .news-bottom ul.list-news li { padding-bottom: 5px; background: url(http://hkbike.com.vn/images/node-news-bottom.png) no-repeat; background-position: 0px 8px; background-position-x: 0px; background-position-y: 8px; padding-left: 15px; }

            .news-bottom ul.list-news li a { line-height: 17px; color: #ffffff; font-family: Roboto Condensed Regular; }

                .news-bottom ul.list-news li a:hover { color: #1f8249; }

    .news-bottom .find-showroom ul.list-news * { float: none; }

    .news-bottom .find-showroom * { width: 100%; float: left; }

    .news-bottom .drop-down { position: relative; }

        .news-bottom .drop-down .bg { width: 100%; float: left; height: 30px; line-height: 30px; padding-left: 15px; background: #474747 url(../images/arrow-down.png) 273px 9px no-repeat; text-transform: uppercase; color: #ffffff; }

        .news-bottom .drop-down ul.listing { position: absolute; left: 0; top: 30px; background: #ffffff; border-top: 3px solid #1f8249; padding: 0 5px 28px 5px; height: 260px; overflow: hidden; display: none; }

            .news-bottom .drop-down ul.listing li a { border-bottom: 1px solid #1f8249; padding: 5px 5px; }

    .news-bottom .view-all { text-transform: uppercase; font-family: Roboto Regular; font-size: 12px; text-align: right; color: #ffffff; margin-top: 12px; }

    .news-bottom .connect-fb .facebook-likebox {width: 100%;float: left;overflow: hidden;height: 113px;}

        .news-bottom .connect-fb .facebook-likebox * { color: #ffffff; width: 100%; float: left; }
@media screen and (max-width: 1200px) {
   .stamp{
	   display:none;
   }
   .img-logo h2{
	   font-size:13px;
   }
   .item .price{
	   font-size:13px;
   }
   .btn-buynow{
	   width:80px;
   }
   .itemmain1{
	   padding-top:5px;
   }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .bg-main { min-width: 1010px;}
	
}
