.slidetoanha{position:relative;width:100%;}
.sliderwrapper{position:relative;float:left;overflow:hidden;width:100%;height:199px;display:inline;margin-top:15px;}
.sliderwrapper .contentdiv{visibility:hidden;position:absolute;left:0;top:0;background:white;height:100%;filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);-moz-opacity:1;opacity:1;}
.pagination{text-align:right;position:relative;top:0;font-size:11px;text-align:center;width:100%;}
.pagination a{padding:1px 7px;text-decoration:none;color:#0D59B3;background:white;border:1px #ced7d4 solid;background:url(../images/bg-pana.gif) repeat-x;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.pagination a:hover, .pagination a.selected{color:#fb6c08;background-color:#FEE496;}
.sliderwrapper .contentdiv ul{position:relative;float:left;margin-left:0px;display:inline;}
.sliderwrapper .contentdiv ul li{float:left;width: 205px;padding-top:10px;text-align:center;}
.sliderwrapper .contentdiv ul li img{width: 220px;padding:3px;height:145px;border:1px solid #ddd;box-shadow:0px 2px 3px #ddd;padding-bottom: 2px;margin-bottom: 7px;}
.sliderwrapper .contentdiv ul li a{padding-left:10px;font-size:14px;line-height:16px;}
.sliderwrapper .contentdiv ul li p{width:100%;}